<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1>Home#index</h1>

<%= simple_form_for @user do |f| %>
  
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.button :submit %>
<% end %>
<p>Find me in app/views/home/index.html.erb</p>
