<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, </h1>
    <p>
      Your adjusted CSV is completed.  Please see the attached file <%= @path %>
      your username is: <br>
    </p>
    <p>
      You can also login to the website here and download the file: <%= @url %>.
    </p>
    <p>If you have any issues please contact your admin at anthonycmark@gmail.com</p>
  </body>
</html>